@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to right, #456fe8, #19b0ec);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Poppins", sans-serif;
}

.form {
  max-width: 120rem;
  margin: 0 auto;

  position: relative;
}

.form__input {
  opacity: 0;
  font-size: 2rem;

  width: 36rem;
  height: 12rem;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.form__div {
  font-size: 2rem;
  background-color: #fff;
  display: inline-block;

  width: 40rem;
  height: 12rem;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  border: 2px solid #000;
  border-radius: 11px;

  box-shadow: 4px 4px 0px #000;

  overflow-wrap: break-word;

  overflow-y: scroll;
}

.form__p {
  padding: 2rem 4rem;
}

.form__container {
  transform: translateY(-8.4rem);

  background-color: #fff;

  width: 40rem;

  border: 2px solid #000;
  border-radius: 11px;

  position: relative;
}

.option-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* gap: 1rem; */

  padding: 0 0 0 2rem;

  user-select: none;
}

.option {
  font-size: 2rem;

  padding: 0.4rem 0.8rem;

  width: 2.8rem;
  text-align: center;

  font-family: "Playfair Display", serif;

  font-weight: 700;

  cursor: pointer;
}

.option__i {
  font-style: italic;
}

.option__n {
  text-decoration: line-through;
}

.option__e {
  filter: grayscale(1);

  padding: 0.4rem 1.4rem;
  transition: all 0.2s;
}

.option__e:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}

hr {
  width: 2rem;
  transform: rotate(90deg);

  border: 1px solid #000;
  border-radius: 11px;
}

.emoji-container {
  position: absolute;
  top: 46%;
  right: 6%;
  transform: translateY(-50%);

  user-select: none;
}

.emoji-box {
  position: absolute;

  bottom: 120%;
  right: -30%;

  background-color: #fff;

  border: 2px solid #000;
  border-radius: 11px;

  display: none;
}

.emoji-option {
  font-size: 1.8rem;

  padding: 0.4rem 0.8rem;
  cursor: pointer;

  transition: all 0.2s;
}

.emoji-option:hover {
  transform: translateY(-0.2rem);
}

.u-display-flex {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
